<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}KC Technologies{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'users/css/base.css' %}?{% now 'U'%}">
</head>
<body>
    <div class="body-content">
        {% block navbar%}
            <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
                <!-- LEFT PART OF NAVBAR -->
            {% if request.user.is_authenticated %}
                <a class="navbar-brand h3" href="{% url 'main-home'%}">WELCOME TO THE DIVORCE PREDICTION SYSTEM</a>
            {% else %}
                <a class="navbar-brand h3" href="{% url 'login'%}">WELCOME TO THE DIVORCE PREDICTION SYSTEM</a>
            {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- RIGHT PART OF NAVBAR -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'main-home'%}">Home</a>
                        </li>
                        {% block profile %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile'%}">Profile</a>
                        </li>
                        {% endblock profile%}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login/Sign up
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'login'%}">Login</a>
                                <a class="dropdown-item" href="{% url 'register'%}">Sign Up</a>
                            </div>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock navbar %}

        <!-- THE BODY OF THE PAGE -->
        <body class="content-container">
            {% block body %}

            {% endblock body %}
        </body>
    </div>

        <!-- THE JAVASCRIPT LINKS AND FILES -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
